<!DOCTYPE html>
<html>
    <head>
        <title>Задание</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="test-ui-vue/style.css">
    </head>
    <body>
    <div id="app">
        <div class="window add-window" v-bind:class="{active: isActive}">
            <div class="window-title">Добавить человека</div>
            <p><div class="family">Фамилия: </div><input type="text" v-model="addLastName"></p>
            <p><div class="family">Имя: </div><input type="text" v-model="addFirstName"></p>
            <p><div class="family">Отчество: </div><input type="text" v-model="addPatronymic"></p>
            <p><div class="family">Дата рождения: </div><input type="date" v-model="addDateOfBirth"></p>
            <p><div class="family">Пол: </div><input type="radio" value="MALE" v-model="addPersonGender">
            <label>муж</label>
            <input type="radio" value="FEMALE" v-model="addPersonGender">
                <label>жен</label></p>
            <div class="window-buttons-block">
                <button class="button"  v-on:click="cancelAddPerson()">Отмена</button>
                <button class="button"  v-on:click="addPerson">Добавить</button>
            </div>
        </div>

        <div class="window delete-window" v-bind:class="{active: isWarning}">
            <p>Удалить человека {{persons[currentIndex].lastName}} {{persons[currentIndex].firstName}}
                {{persons[currentIndex].patronymic}}?</p>
            <div class="window-buttons-block">
                <button class="button"  v-on:click="isWarning=false">Отмена</button>
                <button class="button"  v-on:click="deletePerson()">Ок</button>
            </div>
        </div>

        <div class="window update-window" v-bind:class="{active: isUpdate}">
            <div class="window-title">Изменить человека</div>
            <p><div class="family">id: {{persons[currentIndex].id}}</div></p>
            <p><div class="family">Фамилия: </div><input type="text" v-model="updateLastName"></p>
            <p><div class="family">Имя: </div><input type="text" v-model="updateFirstName"></p>
            <p><div class="family">Отчество: </div><input type="text" v-model="updatePatronymic"></p>
            <p><div class="family">Дата рождения: </div><input type="date" v-model="updateDateOfBirth"></p>
            <p><div class="family">Пол: </div><input type="radio" value="MALE" v-model="updatePersonGender">
            <label>муж</label>
            <input type="radio" value="FEMALE" v-model="updatePersonGender">
            <label>жен</label></p>
            <div class="window-buttons-block">
                <button class="button"  v-on:click="cancelUpdatePerson()">Отмена</button>
                <button class="button"  v-on:click="updatePerson()">Изменить</button>
            </div>
        </div>

        <div class="table">
            <div class="table-title">
                <div class="line">id</div>
                <div class="line">Фамилия</div>
                <div class="line">Имя</div>
                <div class="line">Отчество</div>
                <div class="line">Дата рождения</div>
                <div class="line">Пол</div>
                <div class="line"> </div>
            </div>
            <div v-for="(person, index) in persons" class="table-row">
                <div class="line">{{person.id}}</div>
                <div class="line">{{person.lastName}}</div>
                <div class="line">{{person.firstName}}</div>
                <div class="line">{{person.patronymic}}</div>
                <div class="line">{{person.dateOfBirth}}</div>
                <div class="line">{{person.personGender}}</div>
                <div class="line">
                    <div class="update-buttons-block">
                        <button v-on:click="showDeletePerson(index)" title="удалить" class="button">×</button>
                        <button v-on:click="showUpdatePerson(index)" title="изменить" class="button">✎</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-block">
            <button v-on:click="getPersons" class="button">Показать в произвольном порядке</button>
            <button v-on:click="getPersonsSort" class="button">Отсортировать по дате рождения</button>
            <button v-on:click="showAddPerson()" class="button add-button">Добавить человека</button>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <script src="test-ui-vue/scripts.js"></script>
    </body>
</html>