.box{
    max-width: 800px;
    border: #026da7 1px solid;
}

.cell{
    border: #026da7 1px solid !important;
}

.header{
    background-color: skyblue !important;
    border: #026da7 1px solid !important;
}

.add-dialog{
    margin-top: 0px !important;
    margin-left: 815px !important;
    width: 500px;
    height: 470px;
    position: absolute;
}

.update-dialog{
    margin-top: 480px !important;
    margin-left: 815px !important;
    width: 500px;
    height: 505px;
    position: absolute;
}

.delete-dialog{
    margin-left: 460px;
    margin-top: 210px;
    width: 400px;
    height: 100px;
    position: absolute;
}

.add-calendar{
    position: absolute;
}

.buttons-block{
    margin: 20px;
    width: 100%;
    text-align: justify;
}

.button-manage{
    width: 300px;
    margin-bottom: 15px;
    display: block;
    text-align-last: center !important;
    text-align: center !important;
}

.family{
    width: 150px;
    display: inline-block;
    text-align: left;
}



